@model FTC_MES_MVC.Models.ViewModels.ChangePassword

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="modal fade" id="myModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">更改密碼</h4>
                </div>
                <div class="modal-body">
                    @*@Html.LabelFor(m => m.OldPassword, new { @class = "box-title" })
                    <div class="row">
                        <div class="col-sm-8">
                            @Html.PasswordFor(m => m.OldPassword, new { @id = "oldpassword", @placeholder = "...舊密碼...", @class = "form-control", @onkeyup = "oldconfirm()", @style = "display:inline-block;" })
                        </div>
                        <div class="col-sm-4 pull-left">
                            <img id="opImg" width="20" height="20" style="display:none;"/>
                        </div>
                    </div>*@
                    <div style="padding-top:15px;">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "box-title" })
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            @Html.PasswordFor(m => m.NewPassword, new { @id = "newpassword", @placeholder = "...新密碼...", @class = "form-control", @onkeyup = "checkPwdLength()" })
                        </div>
                        <div class="col-sm-4 pull-left">
                            <img id="npImg" width="20" height="20" style="display:none;" />
                            <label id="npLabel" style="color:red;display:none;">密碼長度至少要六字元!!</label>
                        </div>
                    </div>
                    <div style="padding-top:15px;">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "box-title" })
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @id = "confirmpassword", @placeholder = "...密碼確認...", @class = "form-control", @onkeyup = "passwordconfirm()" })
                        </div>
                        <div class="col-sm-4 pull-left">
                            <img id="cpImg" width="20" height="20" style="display:none;" />
                        </div>
                    </div>
                    <div style="padding-top:15px;">
                        <label style="font:normal; color:red;">密碼修改完成後系統將自動登出，並請使用新密碼登入!!</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="save" class="btn btn_primary" data-url="@Url.Action("ChangePassword", "Account")" disabled><i class="fa fa-save"></i>儲存</button>
                    <button type="submit" class="btn btn_negative_normal pull-left" data-dismiss="modal"><i class="fa fa-times"></i>關閉</button>
                </div>
            </div>
        </div>
    </div>
}
